<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Home</title>
    <link rel="stylesheet" href="telaInicialAdmin.css">
</head>

<div style="width: 1401px; height: 682px; position: relative; background: white; overflow: hidden">
  <div style="width: 1401px; height: 674px; left: 0px; top: 14px; position: absolute; background: #2A2A2A"></div>
  <div style="width: 245px; height: 233px; left: -84px; top: 264px; position: absolute; background: rgba(221, 179, 94, 0.89); box-shadow: 90px 90px 90px; border-radius: 9999px; filter: blur(45px)"></div>
  <div style="width: 328px; height: 244px; left: 1073px; top: 14px; position: absolute; background: rgba(221, 179, 94, 0.85); box-shadow: 90px 90px 90px; border-radius: 9999px; filter: blur(45px)"></div>
  <div style="width: 122px; height: 116px; left: 111px; top: 357px; position: absolute; background: rgba(221, 179, 94, 0.85); box-shadow: 90px 90px 90px; border-radius: 9999px; filter: blur(45px)"></div>
  <div style="width: 122px; height: 116px; left: 594px; top: 14px; position: absolute; background: rgba(221, 179, 94, 0.85); box-shadow: 90px 90px 90px; border-radius: 9999px; filter: blur(45px)"></div>
  <div style="width: 122px; height: 116px; left: 565px; top: 279px; position: absolute; background: rgba(221, 179, 94, 0.85); box-shadow: 90px 90px 90px; border-radius: 9999px; filter: blur(45px)"></div>
  <div style="width: 296px; height: 271px; left: 777px; top: 430px; position: absolute; background: rgba(221, 179, 94, 0.95); box-shadow: 90px 90px 90px; border-radius: 9999px; filter: blur(45px)"></div>
  <div style="width: 1269px; height: 597px; left: 94px; top: 47px; position: absolute; background: rgba(213.53, 205.82, 179.63, 0.43); border-radius: 28px"></div>
  <img style="width: 50px; height: 80px; left: 25px; top: 52px; position: absolute" src="https://placehold.co/50x80" />
  <div style="width: 87px; height: 24px; left: 156px; top: 60px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">Home</div>
  <div style="width: 145px; height: 24px; left: 233px; top: 68px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">Nutricional</div>
  <div style="width: 173px; height: 24px; left: 366px; top: 68px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">Treinos</div>
  <div style="width: 173px; height: 24px; left: 468px; top: 68px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">Clientes</div>
  <div style="width: 419px; height: 222px; left: 913px; top: 132px; position: absolute; background: rgba(221, 179, 94, 0.95); border-radius: 28px"></div>
  <div style="width: 73px; height: 23px; left: 1259px; top: 106px; position: absolute; color: #2A2A2A; font-size: 16px; font-family: Alata; font-weight: 400; line-height: 16px; word-wrap: break-word">Ver perfil</div>
  <div style="width: 50px; height: 50px; left: 1265px; top: 57px; position: absolute; border-radius: 9999px; border: 2px #D4D2C8 solid"></div>
  <img style="width: 30px; height: 30px; left: 1275px; top: 67px; position: absolute" src="https://placehold.co/30x30" />
  <div style="width: 240px; height: 24px; left: 997px; top: 149px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 35px; font-family: Akshar; font-weight: 700; line-height: 35px; word-wrap: break-word">Clientes Ativos</div>
  <div style="width: 188px; height: 146px; left: 1055px; top: 258px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 140px; font-family: Akshar; font-weight: 700; line-height: 140px; word-wrap: break-word">15<br/></div>
  <div style="width: 60px; height: 0px; left: 155px; top: 89px; position: absolute; outline: 5px #2A2A2A solid; outline-offset: -2.50px"></div>
  <img style="width: 62px; height: 62px; left: 19px; top: 575px; position: absolute" src="https://placehold.co/62x62" />
  <div style="width: 726px; height: 473px; left: 161px; top: 136px; position: absolute; overflow: hidden">
    <img style="width: 709px; height: 473px; left: 0px; top: 0px; position: absolute; border-radius: 30px" src="https://placehold.co/709x473" />
  </div>
  <div style="width: 442px; height: 256px; left: 904px; top: 369px; position: absolute; background: #FFFAE6; border-radius: 28px"></div>
  <div style="width: 185px; height: 24px; left: 1074px; top: 374px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #1E1E1E; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">Notificações</div>
  <div style="width: 419px; height: 70px; left: 919px; top: 432px; position: absolute; background: #EDE7D1; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 17px; border: 1px black solid"></div>
  <div style="width: 419px; height: 70px; left: 918px; top: 524px; position: absolute; background: #EDE7D1; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 17px; border: 1px black solid"></div>
  <div style="width: 393px; height: 24px; left: 931px; top: 469px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #1E1E1E; font-size: 24px; font-family: Akshar; font-weight: 400; line-height: 24px; word-wrap: break-word">Registrou check-in em Treino Superiores</div>
  <div style="width: 393px; height: 24px; left: 931px; top: 559px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #1E1E1E; font-size: 24px; font-family: Akshar; font-weight: 400; line-height: 24px; word-wrap: break-word">Registrou check-in em Treino Superiores</div>
  <div style="width: 119px; height: 24px; left: 912px; top: 440px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #1E1E1E; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">Shreck</div>
  <div style="width: 119px; height: 24px; left: 913px; top: 532px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #1E1E1E; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">Shreck</div>
</div>

 <div class="background">
    <!-- Bolinhas decorativas -->
    <div class="bolinha bolinha1"></div>
    <div class="bolinha bolinha2"></div>
    <div class="bolinha bolinha3"></div>
    <div class="bolinha bolinha4"></div>
    <div class="bolinha bolinha5"></div>
    <div class="bolinha bolinha6"></div>

    <div class ="fundoSemiTransparente"> </div>

    <div class="logoCantoInferior">
       <img src="C:\Users\thauana.9902\Documents\GitHub\SystemFy\imgFy\logoSemfundoEscritaBranca.png" alt="Logo" class="logoCantoInferior">
    </div> 

    <div class="logoWhatsApp">
       <img src="C:\Users\thauana.9902\Documents\GitHub\SystemFy\imgFy\whatsapp (3).png" alt="logoWhatsApp" class="logoWhatsApp">
    </div> 


    <div class="cardMetaPeso" >
      <h3 class="titulo_peso"> Progresso Meta de Peso</h3>

    </div>
    <!-- width: 448px; height: 227px; left: 867px; top: 132px; position: absolute; ></div> -->

    <!-- <img style="width: 62px; height: 62px; left: 19px; top: 595px; position: absolute" src="https://placehold.co/62x62"> -->

    <div class="cardProgressoMetaPeso"> 
      <h3 class="titulo_percentual">  Percentuais </h3>
    </div>

    <!-- <div class="cardPercentuais"> </div> -->
        

    <div class="cardVerPerfil" > </div>

    <div class="textocardVerPerfil" > Ver perfil</div>


    <div class="navBar" > 

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <li><a href="#" class="active">Home</a></li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Nutricional</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Treinos</a>
      </li>
      
    </ul>
  </div>
</nav>
    </div>
     

<body>
    
</body>
</html>