<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Home</title>
    <link rel="stylesheet" href="telaTreinos.css">
</head>

<div style="width: 1401px; height: 674px; position: relative; overflow: hidden">
  <div style="width: 1401px; height: 674px; left: 0px; top: 0px; position: absolute; background: #2A2A2A"></div>
  <div style="width: 245px; height: 233px; left: 716px; top: 495px; position: absolute; background: rgba(221, 179, 94, 0.87); box-shadow: 90px 90px 90px; border-radius: 9999px; filter: blur(45px)"></div>
  <div style="width: 245px; height: 233px; left: 0px; top: 0px; position: absolute; background: rgba(221, 179, 94, 0.87); box-shadow: 90px 90px 90px; border-radius: 9999px; filter: blur(45px)"></div>
  <div style="width: 328px; height: 244px; left: 1073px; top: 0px; position: absolute; background: rgba(221, 179, 94, 0.85); box-shadow: 90px 90px 90px; border-radius: 9999px; filter: blur(45px)"></div>
  <div style="width: 122px; height: 116px; left: 111px; top: 343px; position: absolute; background: rgba(221, 179, 94, 0.85); box-shadow: 90px 90px 90px; border-radius: 9999px; filter: blur(45px)"></div>
  <div style="width: 122px; height: 116px; left: 594px; top: 0px; position: absolute; background: rgba(221, 179, 94, 0.85); box-shadow: 90px 90px 90px; border-radius: 9999px; filter: blur(45px)"></div>
  <div style="width: 122px; height: 116px; left: 565px; top: 265px; position: absolute; background: rgba(221, 179, 94, 0.85); box-shadow: 90px 90px 90px; border-radius: 9999px; filter: blur(45px)"></div>
  <div style="width: 1269px; height: 597px; left: 94px; top: 33px; position: absolute; background: rgba(213.53, 205.82, 179.63, 0.43); border-radius: 28px"></div>
  <div style="width: 145px; height: 24px; left: 222px; top: 54px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">Nutricional</div>
  <div style="width: 1154px; height: 476px; left: 165px; top: 115px; position: absolute; background: #FFFAE6; border-radius: 28px"></div>
  <div style="width: 522px; height: 92px; left: 472px; top: 115px; position: absolute; background: rgba(237, 231, 209, 0.82); border-bottom-right-radius: 28px; border-bottom-left-radius: 28px"></div>
  <div style="width: 1114px; height: 338px; left: 190px; top: 228px; position: absolute; background: rgba(237, 231, 209, 0.82); border-radius: 10px"></div>
  <div style="width: 7px; height: 306px; left: 206px; top: 238px; position: absolute; background: #DDB35E; border-radius: 15px"></div>
  <div style="width: 100px; height: 24px; left: 367px; top: 47px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">Treinos</div>
  <div style="width: 78px; height: 0px; left: 370px; top: 74px; position: absolute; outline: 5px #2A2A2A solid; outline-offset: -2.50px"></div>
  <div style="width: 73px; height: 23px; left: 1248px; top: 92px; position: absolute; color: #2A2A2A; font-size: 16px; font-family: Alata; font-weight: 400; line-height: 16px; word-wrap: break-word">Ver perfil</div>
  <div style="width: 50px; height: 50px; left: 1254px; top: 40px; position: absolute; border-radius: 9999px; border: 2px #D4D2C8 solid"></div>
  <img style="width: 30px; height: 30px; left: 1264px; top: 50px; position: absolute" src="https://placehold.co/30x30" />
  <div style="width: 87px; height: 24px; left: 133px; top: 52px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">Home</div>
  <img style="width: 62px; height: 62px; left: 22px; top: 591px; position: absolute" src="https://placehold.co/62x62" />
  <div style="width: 57px; height: 24px; left: 509px; top: 171px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #2A2A2A; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">7</div>
  <div style="width: 29px; height: 24px; left: 583px; top: 174px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #2A2A2A; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">8</div>
  <div style="width: 26px; height: 24px; left: 657px; top: 174px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #2A2A2A; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">9</div>
  <div style="width: 36px; height: 24px; left: 791px; top: 174px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #2A2A2A; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">11</div>
  <div style="width: 35px; height: 24px; left: 864px; top: 174px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #2A2A2A; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">12</div>
  <div style="width: 57px; height: 24px; left: 937px; top: 174px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #2A2A2A; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">13</div>
  <div style="width: 71px; height: 92px; left: 694px; top: 115px; position: absolute; background: rgba(255, 255, 255, 0.76); border-radius: 20px"></div>
  <div style="width: 34px; height: 24px; left: 717px; top: 174px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #2A2A2A; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">10</div>
  <div style="width: 494px; height: 28px; left: 500px; top: 125px; position: absolute; overflow: hidden">
    <div style="width: 57px; height: 24px; left: 0px; top: 2px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #2A2A2A; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">Dom</div>
    <div style="width: 44px; height: 24px; left: 75px; top: 2px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #2A2A2A; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">Seg</div>
    <div style="width: 42px; height: 24px; left: 152px; top: 2px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #2A2A2A; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">Ter</div>
    <div style="width: 42px; height: 24px; left: 212px; top: 2px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #2A2A2A; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">Qua</div>
    <div style="width: 48px; height: 24px; left: 287px; top: 2px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #2A2A2A; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">Qui</div>
    <div style="width: 51px; height: 24px; left: 364px; top: 2px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #2A2A2A; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">Sex</div>
    <div style="width: 52px; height: 24px; left: 433px; top: 2px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #2A2A2A; font-size: 24px; font-family: Akshar; font-weight: 700; line-height: 24px; word-wrap: break-word">Sab</div>
  </div>
  <div style="width: 204px; height: 24px; left: 222px; top: 236px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #413838; font-size: 18px; font-family: Akshar; font-weight: 700; line-height: 18px; word-wrap: break-word">Treino Superiores</div>
  <div style="width: 204px; height: 24px; left: 260px; top: 302px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #413838; font-size: 18px; font-family: Akshar; font-weight: 700; line-height: 18px; word-wrap: break-word">Rosca : 3x12  > 5kg</div>
  <div style="width: 204px; height: 24px; left: 260px; top: 365px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #413838; font-size: 18px; font-family: Akshar; font-weight: 700; line-height: 18px; word-wrap: break-word">Martelo : 4x15 > 8kg</div>
  <div style="width: 204px; height: 24px; left: 261px; top: 430px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #413838; font-size: 18px; font-family: Akshar; font-weight: 700; line-height: 18px; word-wrap: break-word">Pulley Frente: 4x15 </div>
  <div style="width: 204px; height: 24px; left: 261px; top: 499px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #413838; font-size: 18px; font-family: Akshar; font-weight: 700; line-height: 18px; word-wrap: break-word">Remada Curvada: 4x12</div>
  <img style="width: 30px; height: 30px; left: 223px; top: 302px; position: absolute" src="https://placehold.co/30x30" />
  <img style="width: 30px; height: 30px; left: 223px; top: 361px; position: absolute" src="https://placehold.co/30x30" />
  <img style="width: 30px; height: 30px; left: 223px; top: 426px; position: absolute" src="https://placehold.co/30x30" />
  <img style="width: 30px; height: 30px; left: 223px; top: 494px; position: absolute" src="https://placehold.co/30x30" />
  <img style="width: 548px; height: 306px; left: 734px; top: 258px; position: absolute; border-radius: 10px" src="https://placehold.co/548x306" />
  <div style="width: 144px; height: 32px; left: 190px; top: 129px; position: absolute; background: rgba(213.53, 205.82, 179.63, 0.43); border-radius: 28px"></div>
  <div data-has-description="false" data-state="Default" data-value-type="Checked" style="width: 240px; left: 206px; top: 132px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
      <div style="width: 16px; height: 16px; background: var(--Background-Brand-Default, #2C2C2C); overflow: hidden; border-radius: 4px; justify-content: center; align-items: center; gap: 10px; display: flex">
        <div data-size="16" style="width: 16px; height: 16px; position: relative; overflow: hidden">
          <div style="width: 10.67px; height: 7.33px; left: 2.67px; top: 4px; position: absolute; outline: 1.60px var(--Icon-Brand-On-Brand, #F5F5F5) solid; outline-offset: -0.80px"></div>
        </div>
      </div>
      <div style="flex: 1 1 0; color: var(--Text-Default-Default, #1E1E1E); font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">Check-in</div>
    </div>
  </div>
  <img style="width: 26px; height: 37px; left: 652px; top: 295px; position: absolute" src="https://placehold.co/26x37" />
  <img style="width: 26px; height: 37px; left: 653px; top: 352px; position: absolute" src="https://placehold.co/26x37" />
  <img style="width: 26px; height: 37px; left: 652px; top: 417px; position: absolute" src="https://placehold.co/26x37" />
  <img style="width: 26px; height: 37px; left: 652px; top: 485px; position: absolute" src="https://placehold.co/26x37" />
</div>

 <div class="background">
    <!-- Bolinhas decorativas -->
    <div class="bolinha bolinha1"></div>
    <div class="bolinha bolinha2"></div>
    <div class="bolinha bolinha3"></div>
    <div class="bolinha bolinha4"></div>
    <div class="bolinha bolinha5"></div>
    <div class="bolinha bolinha6"></div>

    <div class ="fundoSemiTransparente"> </div>

    <div class="logoCantoInferior">
       <img src="C:\Users\thauana.9902\Documents\GitHub\SystemFy\imgFy\logoSemfundoEscritaBranca.png" alt="Logo" class="logoCantoInferior">
    </div> 

    <div class="logoWhatsApp">
       <img src="C:\Users\thauana.9902\Documents\GitHub\SystemFy\imgFy\whatsapp (3).png" alt="logoWhatsApp" class="logoWhatsApp">
    </div> 


    <div class="cardMetaPeso" >
      <h3 class="titulo_peso"> Progresso Meta de Peso</h3>

    </div>
    <!-- width: 448px; height: 227px; left: 867px; top: 132px; position: absolute; ></div> -->

    <!-- <img style="width: 62px; height: 62px; left: 19px; top: 595px; position: absolute" src="https://placehold.co/62x62"> -->

    <div class="cardProgressoMetaPeso"> 
      <h3 class="titulo_percentual">  Percentuais </h3>
    </div>

    <!-- <div class="cardPercentuais"> </div> -->
        

    <div class="cardVerPerfil" > </div>

    <div class="textocardVerPerfil" > Ver perfil</div>


    <div class="navBar" > 

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <li><a >Home</a></li>
      </li>
      <li class="nav-item">
        <a href="#" class="active">Nutricional</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Treinos</a>
      </li>
      
    </ul>
  </div>
</nav>
    </div>
     


    

<body>
    
</body>
</html>