<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela Login - Usuário</title>
  <link rel="stylesheet" href="telaAdministrador.css">
</head>
<body>
  <div class="background">
    <!-- Bolinhas decorativas -->
    <div class="bolinha bolinha1"></div>
    <div class="bolinha bolinha2"></div>
    <div class="bolinha bolinha3"></div>
    <div class="bolinha bolinha4"></div>
    <div class="bolinha bolinha5"></div>
    <div class="bolinha bolinha6"></div>

    <!-- Container principal -->
    <div class="container">
      <!-- Logo -->
      <div class="logo-box">
        <img src="C:\Users\thauana.9902\Documents\GitHub\SystemFy\imgFy\logoSemfundoEscritaBranca.png" alt="Logo" class="logo">
      </div>

      <!-- Caixa de login -->
      <div class="login-box">
        <h1>Login</h1>
        <input type="email" placeholder="E-mail">
        <input type="password" placeholder="Senha">
        <a href="#" class="forgot">Esqueci a senha</a>
        <button>Entrar</button>
      </div>
    </div>
  </div>
</body>
</html>
